# Environment and secrets
.env

# Docs
*.csv
*.pdf
analysis/
*.ndjson
*.txt
.coverage

# Python
*.ipynb
*.ipynb_checkpoints
venv/
notebook_venv/
notebook_venv_3.11/
__pycache__/

# Airflow initialization marker
.airflow_initialized

# Data files
data/posts/
data/comments/

# Airflow logs
airflow/logs/
airflow/plugins/

# Logs
logs/